body {
    margin: 0 auto;
    padding: 0;
    background: url(../imgs/fundo.jpg) repeat-x left top;
    background-color: #fff
}

* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

img {
    border: 0
}

.both {
    clear: both
}

#geral {
    margin: 0 auto;
    padding: 0;
    width: 950px
}

.logoTopo {
    position: relative;
    background: url(../imgs/logo.png) no-repeat;
    display: block;
    text-indent: -9999px;
    height: 180px;
    width: 212px
}

h2,
.t1 {
    font: normal 28px Arial, Helvetica, sans-serif;
    color: #696969;
    display: block;
    margin-top: 20px
}

.espaco {
    margin-left: 120px
}

.t2 {
    font: normal 28px Arial, Helvetica, sans-serif;
    color: #D90000;
    display: block;
    margin: 20px 0 0
}

p,
a {
    font: normal 14px Arial, Helvetica, sans-serif;
    color: #666
}

p {
    display: block;
    margin: 10px 0 0
}

#topo {
    background: url(../imgs/fundo-topo.png) no-repeat top right;
    float: left;
    width: 100%;
    height: 253px
}

#topo .logo {
    float: left;
    margin: 0
}

#menu {
    margin: 185px 0 0;
    width: 950px;
    height: 34px
}

#menu ul {
    float: left;
    width: 100%;
    height: 100%;
    list-style: none
}

#menu ul li {
    background: url(../imgs/barra-menu.jpg) repeat-y top right;
    float: left;
    position: relative;
    height: 100%;
    z-index: 50
}

#menu ul li a {
    padding: 6px 12px;
    font: normal 18px Arial, Helvetica, sans-serif;
    color: #B6D0BB;
    float: left;
    width: 85px
}

#menu ul li a:hover,
#home .home,
#empresa .empresa {
    background: url(../imgs/menu-hover.png) repeat-x bottom left
}

#menu .home {
    width: 48px
}

#menu .empresa {
    width: 70px
}

#menu .produtos {
    width: 72px
}

#menu .revendedor {
    width: 117px
}

#menu .distribuidor {
    width: 91px
}

#menu .tecnica {
    width: 160px
}

#menu .contato {
    width: 64px
}

#menu .feiras {
    width: 50px
}

#menu .forum {
    width: 54px
}

#menu ul li ul {
    background: #0D8423;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: auto;
    height: auto;
    float: left;
    z-index: 80
}

#menu ul li:hover ul {
    display: block;
    z-index: 100
}

#menu ul li ul li:hover {
    background: url(../imgs/seta-menu.png) no-repeat top right
}

#menu ul li ul li a {
    background: url(../imgs/barra-menu2.jpg) repeat-x bottom left;
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #DBEDDE;
    width: 155px
}

#menu ul li:hover ul li a:hover {
    background: none;
    background: url(../imgs/barra-menu2.jpg) repeat-x bottom left;
    text-decoration: underline
}

#menu ul li ul li ul {
    background: #0D8423;
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: auto;
    height: auto;
    float: left;
    z-index: 82;
    border-left: 3px solid #FFF
}

#menu ul li:hover ul li ul {
    display: none
}

#menu ul li ul li:hover ul {
    display: block;
    z-index: 100
}

#menu ul li ul li ul li:hover {
    background: none
}

#menu ul li ul li ul li a {
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #DBEDDE;
    width: 285px
}

#menu ul li:hover ul li ul li a:hover {
    text-decoration: underline
}

#conteudo,
.conteudo {
    float: left;
    width: 100%;
    min-height: 425px;
    margin-top: 25px;
}

.col-esq {
    float: left;
    margin: -35px 0 0;
    width: 370px
}

.col-direita {
    float: right;
    width: 530px;
    margin: -35px 0 0
}

.lista-agenda {
    margin: 5px 0 0
}

.lista-agenda a {
    margin: 2px 0 0;
    display: block;
    padding: 3px 8px
}

.lista-agenda .par {
    background-color: #EBEBEB;
    color: #A0A0A0
}

.lista-agenda .impar {
    background-color: #DADADA;
    color: #666
}

.box {
    background: url(../imgs/fundo-box.jpg) repeat-x top left;
    background-color: #E9E9E9;
    float: left;
    margin-top: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url(cs.htc);
    min-height: 160px
}

.box img {
    float: right;
    margin: 10px 10px 0
}

.box .t2 {
    margin: 10px 0 0 10px
}

.box p {
    margin-left: 10px;
    margin-right: 10px
}

.b1 {
    width: 552px
}

.b2 {
    width: 338px;
    margin-left: 50px
}

#slide {
    width: 521px;
    height: 285px;
    margin: 20px 0 0 -30px;
    display: block
}

#slide a {
    margin: 120px 0 0
}

#slide #next {
    float: left
}

#slide #prev {
    float: right
}

#slideshow {
    width: 380px;
    height: 285px;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center
}

#slideshow a {
    border: 0;
    margin: 0;
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 2
}

#slideshow img {
    background: none;
    max-width: 100%;
    max-height: 100%
}

.rainbow {
    background: transparent;
    display: block;
    position: relative;
    height: 1px;
    overflow: hidden;
    z-index: 4
}

.rainbow span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    xwhite-space: nowrap
}

a .rainbow span {
    white-space: nowrap
}

.rainbows-highlight {
    opacity: 1;
    display: block;
    position: absolute;
    z-index: 3
}

.rainbows-shadow {
    color: #042F0E!important;
    display: block;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 3;
    opacity: 0
}

.back .text .rainbows-shadow {
    color: #2067Ac!important;
    opacity: 0
}

.rainbows-shadow {
    color: #2067AC!important;
    opacity: 0
}

.sombra {
    display: block;
    text-align: left;
    padding: 6px 10px
}

.sombra2 {
    display: block
}

#menu .rainbows-highlight {
    top: 8px;
    left: 12px;
    color: #042F0E
}

h1 .rainbows-highlight,
.t1 .rainbows-highlight {
    color: #7E7E7E
}

h2 .rainbows-highlight,
.t2 .rainbows-highlight {
    color: #6C0000
}

#conteudo .rainbows-highlight,
#conteudo .rainbows-highlight,
.conteudo .rainbows-highlight,
.conteudo .rainbows-highlight {
    top: 1.5pt;
    left: 1pt
}

.coluna-p {
    float: right;
    width: 275px
}

.coluna-p .box {
    width: 272px;
    min-height: 0;
    padding: 10px 0 15px;
    margin: 20px 0 0
}

.coluna-p .box img {
    float: left;
    margin: 15px 0 0 20px;
    max-width: 232px
}

.produto {
    float: left;
    width: 640px;
    margin: 15px 0 0
}

.produto .foto {
    float: left;
    width: 100%;
    text-align: center
}

.produto .foto img {
    max-width: 492px;
    max-height: 342px
}

.produto .descricao {
    background: #DBDCDE;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px;
    float: left
}

.produto .descricao p {
    width: 125px;
    color: #000;
    margin: 0 0 0 5px;
    text-align: right;
    float: left
}

.produto .descricao .txt {
    width: 160px;
    color: #000;
    margin: 0 0 0 5px;
    text-align: left;
    font-weight: 700
}

.produto .descricao .esq {
    float: left;
    width: 300px;
    margin: 0;
    border-right: 1px solid #7C7C7D
}

.produto .descricao .dir {
    float: left;
    width: 330px;
    margin: 0
}

.produto .descricao .dir .txt {
    width: 195px
}

.revendedores {
    float: left;
    width: 100%;
    margin: 20px 0 0
}

.revendedores .mapa {
    float: left;
    width: 310px;
    margin: 0 0 0 15px
}

.revendedores .selecao {
    float: right;
    width: 550px;
    margin: 0 15px 0 0
}

.selecao label {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #666;
    float: left;
    margin: 17px 0 0
}

.selecao select {
    background-color: #D4D4D4;
    border: 1px solid #BEBEBE;
    float: left;
    width: 380px;
    margin: 15px 0 0 10px;
    color: #666
}

.selecao .titulo {
    font-size: 15px;
    color: #666;
    margin: 30px 0 0;
    font-weight: 700
}

.selecao .item {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.selecao .item .foto {
    background-color: #FFF;
    border: 1px solid #0D8D26;
    float: left;
    width: 102px;
    height: 77px;
    margin: 0 15px 0 0
}

.selecao .item p {
    margin: 3px 0 0
}

.selecao .item .local {
    font-size: 15px;
    color: #006600;
    font-weight: 700
}

.selecao .item .nome {
    font-size: 13px;
    font-weight: 700
}

#form {
    display: block;
    margin: 20px 0 0
}

#form label {
    display: block;
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #666;
    margin: 5px 0 0
}

#form input[type=text],
input[type=password],
#form textarea {
    display: block;
    height: 22px;
    margin: 3px 0 0;
    border: 1px solid #0E8C27
}

#form .input-g {
    width: 465px
}

#form .input-p {
    width: 228px
}

#form textarea {
    width: 465px;
    height: 163px
}

#form .col-form {
    float: left;
    width: 475px
}

#form .bt-enviar {
    background: url(../imgs/bt-enviar.png) no-repeat top left;
    float: right;
    width: 231px;
    height: 46px;
    border: 0;
    cursor: pointer;
    margin: 5px 8px 0 0
}

#form .metade {
    width: 50%;
    float: left
}

.lista-feiras {
    float: left;
    width: 260px;
    margin: 15px 0 0
}

.lista-feiras a {
    display: block;
    margin: 10px 0 0
}

.lista-feiras a:hover {
    text-decoration: underline
}

.album {
    float: right;
    width: 620px;
    margin: 15px 0 0 10px
}

.album ul {
    float: left;
    width: 100%;
    list-style: none
}

.album ul li {
    float: left;
    border: 1px solid #0E8A26;
    background-color: #0E8A26;
    width: 300px;
    height: 225px;
    margin: 0 5px 0 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url(cs.htc)
}

.album ul li a {
    float: left;
    width: 100%;
    height: 100%;
    text-align: center
}

.album ul li a img {
    max-width: 292px;
    max-height: 218px;
    margin-top: 4px;
    background-color: #FFF
}

#rodape {
    float: left;
    width: 100%;
    height: 188px;
    margin: 85px 0 0 0;
    color: #fff
}

#rodape a {
    color: #FFF;
    margin: 15px 0 0;
    display: block
}

#rodape a:hover {
    text-decoration: underline
}

#rodape p {
    color: #B8E0C0
}

.rodape-geral {
    margin: 0 auto;
    width: 950px;
}

#rodape .box1 {
    float: left;
    margin: 17px 0 0 0;
    width: 300px;
}

#rodape .box1 a {
    display: inline;
    font-size: 16px;
}

#rodape .box2 {
    float: left;
    margin: 10px 0 0 0;
    width: 300px;
}

#rodape .box2 .t3 {
    margin: 5px 0 0
}

#rodape .box3 {
    float: left;
    margin: 5px 0 0 10px;
    width: 300px;
}

.celular {
    margin-left: 40px
}


.title-section {
    margin: 20px 0;
    color: #006400;
    font:normal 24px Arial, Helvetica, sans-serif;
}

.lista-projetos .item-projeto {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #006400;
  margin-bottom: 25px;
  list-style:none;
}
.lista-projetos .item-projeto::after {
  content: '';
  display: table;
  clear: both;
}
.lista-projetos .item-projeto:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
.lista-projetos .item-projeto:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.lista-projetos .item-projeto:nth-child(3n + 1) {
  clear: both;
}
.lista-projetos .item-projeto a {
  display: block;
  text-decoration: none;
}
.lista-projetos .item-projeto .wrapper-img {
  height: 190px;
  background: #006400;
}
.lista-projetos .item-projeto img {
  width: 100%;
  height: 100%;
  display: block;
}
.lista-projetos .item-projeto .ico {
  width: 55px;
  height: 55px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999em;
}
.lista-projetos .item-projeto .ico:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lista-projetos .item-projeto .wrapper-txt {
  background: #006400;
  color: #fff;
  padding: 16px 12px 16px 24px;
}
.lista-projetos .item-projeto .info {
  width: 100%;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.lista-projetos .item-projeto .info span {
  display: inline-block;
  vertical-align: middle;
}
.lista-projetos .item-projeto .info .spacer {
  width: 1px;
  height: 20px;
  background: #fff;
  margin: 0 12px;
}
.lista-projetos .item-projeto .info .title {
  font-size: 0.9500rem;
}
.lista-projetos .item-projeto .participar {
  display: inline-block;
  vertical-align: middle;
  font-family: 'OfficinaSerifOSITCTTBold', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 10px 4px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.lista-projetos .item-projeto.hasForm .info {
  width: calc(100% - 100px);
}


.lista-itens, .lista-estados {
    display: none;
}